@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Red+Hat+Display:wght@300;500;700;800&display=swap');

.ModalErrorContainer {
    font-family: 'Red Hat Display', sans-serif;
    width: 700px;
    height: 5rem;
    background-color: none;
    position: fixed;
    top: calc(100vh - 6rem);
    left: calc((100vw - 700px)/2);
    border: none;
    color: white;
}
